.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_block {
    width: 445px;
    background-color: var(--color-dark-grey);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}