.tabs_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 326px;
    padding-top: 29px;
    margin-bottom: 27px;
}

.tab {
    flex: 1;
    height: 28px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: var(--color-dark);
    border: none;
    background-color: var(--color-light-green);
    font-family: var(--font-family-secondary);
    cursor: pointer;
}

.active {
    background-color: var(--color-green);
    color: var(--color-white);
    font-weight: 400;
}